
html {
  font-size: 16px;
  font-family: 'Jura', sans-serif;
  scroll-behavior: smooth;
}


html, body, #root{

  padding: 0;
  margin: 0 auto;

}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
}


.card {
  display: flex;
  border-radius: 8px;
  background-color: #242424;
  color: white;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}




.header {
  padding: 50px;
  top: 0;
  position: relative;
  text-align: center;
  background-color: #b5b5b5; 
  overflow: hidden;
}


/* The animation code */


#refresh {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
@import url(https://fonts.googleapis.com/css?family=Gravitas+One&family=Jura:wght@300..700&display=swap);
div {
  font-family: 'Jura', sans-serif;
}



 .container {
  position: relative;
 
}

.glitch {
  margin: 0 auto;
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 6vw;
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: glitch 5s 5s infinite;
} 

.glitch::before {
  content: attr(data-text);
  position: absolute;
  text-shadow: -5px 0 magenta;
  background: rgb(52, 52, 52);
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;

  text-shadow: -5px 0 lightgreen;
  background: rgba(56, 56, 56, 0.15);
  opacity: 0.5;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}
@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }

  3%{
    transform: rotateX(0deg) skewX(0deg);
  }
}



.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );

  animation: scan 2s steps(1) infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}



/* Glitch effect */


.glitch-effect {
  position: relative;
  color: white;
  letter-spacing: 0.1em;
  animation: glitch 5s infinite linear alternate-reverse;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(30deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
  3%{
    transform: rotateX(0deg) skewX(0deg);
  }

  4%{
    transform: rotateX(0deg) skewX(0deg);
  }
  5%{
    transform: rotateX(0deg) skewX(0deg);
  }
  60%{
    transform: rotateX(0deg) skewX(0deg);
  }
} 






/* The static code */


.static-background {
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://clipground.com/images/scanlines-png-8.png');
  background-size: repeat;
  animation: static-noise 0.1s infinite;
}

@keyframes static-noise {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% -20%;
  }
  60% {
    background-position: 15% 10%;
  }
  70% {
    background-position: 0% 0%;
  }
  80% {
    background-position: 10% 5%;
  }
  90% {
    background-position: 5% 10%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Noise 1 */
 @keyframes noise-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  80%,
  90%,
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
  30% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 0, 0);
  }
}

/* Noise 2 */
@keyframes noise-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  80%,
  90%,
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
  30% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 0, 0);
  }
}

/* Noise 3 */

@keyframes noise-3 {
  0%,
  20%,
  40%,
  60%,
  70%,
  80%,
  90%,
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
  30% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 0, 0);
  }
}




/* Scanlines */

@keyframes scan {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

/* ProjectsSection */
.projects-header {
  padding: 30px;
  top: 0;
  text-align: center;
  background-color: #b5b5b5; 
}

#projects {
  text-align: center;
  background-color: #242424;
}

.projects-container {
  
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.project-item {
 

  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
  background-color: #242424;
}

.project-title {
  margin-top: 10px;
  font-size: 2.5em;
  color: white;
  text-transform: uppercase;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
}

/* card */


.divider-block {
  border-top: 2px solid #b5b5b5; 
}



.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #242424;
  color: white;
  padding: 1em;

  border-radius: 8px;

  overflow: hidden; 
}

.project-card-header {
  grid-column: 1 / -1; 
  border-bottom: 2px solid black;
}


.card-tech {
  grid-column: 1 / -1; 
  border-bottom: 2px solid black;
  text-transform: capitalize;
}



.card-body {
  font-weight: lighter;
  margin: 0 1em;
  display: grid;
  grid-template-rows: auto 1fr; 
  line-height: 1.8;
  gap: 1rem;
}

@media screen and (max-width: 568px) {
  .card-body {
    display: flex;
    flex-direction: column;
  }
}

.card-technologies,
.card-info {
  grid-row: 1; 
}

.card-challenges,
.card-solutions {
  grid-column: span 1; 

}

.project-card-footer {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: space-between;
}

.card-link {
  padding: 0.5em 1em;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  text-align: center;
  flex-grow: 1;
  margin: 0.5em;
}

.project-link {
  background-color: rgb(181, 181, 181);
  color:#161616;
}


.code-link {
  background-color:rgb(181, 181, 181);
  color:#161616;
}

.project-link:hover,
.code-link:hover {
  filter: brightness(0.9);
  background-color: #242424;
  color: #f1aeb5;
}


.project-card-tech {
  font-weight: lighter;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #f1aeb5;

}
.project-card-tech p{
  font-weight: bold;
  color: #f1aeb5;

}


.video-button {
  margin: .5em 0;
  background-color: #242424;
  color: #f1aeb5;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 768px) {
  .project-card {
    grid-template-columns: 1fr; 
  }
}

@media (max-width: 768px) {
  .project-item {
    flex-direction: column-reverse;
  }
}




/* Intro */

#intro {
  text-align: center;
  background-color: white;
  color: #242424;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  height: 10vh;

}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  gap: 20px;
  padding: 20px;
  height: 100%;
}

.intro h3 {
  font-size: 1.5em;
  color: #242424;
}

.intro p {
  font-size: 0.9em;
  color: #242424;
}

@media screen
and (max-width: 768px) {
  .intro p {
    display: none;
  }
  
}







/* ABOUT SECTION */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  background-color: #242424;
  overflow: hidden;
  height: 100%;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }
  
}

.row {
  display: flex;
  margin-bottom: 10vh;
}

.col {
  flex: 1;
  min-width: 150px; 
}

.about-me-content {
  display: flex;
  height: 20vw;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #242424;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
} 

.about-me-image {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin-bottom: 1em;
  transition: border-radius 0.3s;
  border: 5px solid #f1aeb5;
  transition: filter 0.3s;

}

.about-me-image:hover {
  filter: brightness(0.8);
  filter: grayscale(100%);
  transition: filter 0.3s;

}



.about-me-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #0202026e;
  border-radius: 10px;
  box-shadow: -1rem 0 1rem #000;
  width: 80%;
  color: white;
  font-size: 1.1em;
  overflow: hidden;
 
  transition: transform 0.2s;
}


@media (max-width: 768px) {
  .about-me-card {
    width: 100%;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
  }

  .about-me-image {
    width: 60%;
    height: auto;
  
  }
  .about-me-image:hover {
    filter: brightness(0.8);
    filter: none;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Jura', sans-serif;
  font-style: italic;
  border-radius: 8px;
  background-color: #242424;
  width: 100%;
  color: rgb(240, 240, 240);
  transition: transform 0.2s;
}

.about-me-description {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.6;
  color: #d8d8d8; 
  margin-bottom: 1em;
}

.project-card-title {
  font-size: 1.1em;
  color: white;
  line-height: 1.6;
  font-weight: lighter;
  top: 0;
}

.about-me-resume {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #161616;
  color:#f1aeb5a7;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.about-me-resume:hover {
  background-color: #b5b5b5; 
  color: #242424;
} 

.about-me-resume:active {
  background-color: #b5b5b5; 
}

.about-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;


}





/* Card Flipping*/

.card-face h2 {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  top: 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.flipped {
  transform: rotateY(180deg);
}

.card-flipper {
  perspective: 1000px;
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #dcdcdc;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%; 
  height: 100%; 
}

.card-face {
  position: absolute;
  justify-content: center;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
  background-color: #0202026e;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  overflow: hidden;

}


  

  .card-flipper {
    width: 16rem; 
    height: 24rem; 
  }

  .card-content {
    width: 16rem;
    height: 24rem; 
  }

  .card-face {
    width: 16rem; 
    height: 24rem;
  }

  @media screen and (max-width: 768px)
  
{

  .card-flipper {
 margin: 0 auto;

  }

  .card-content {
    width: 100%;
    height: 100%; 

  }

  .card-face {
    width: 100%; 
    height: 100%;

  }
  

  }

  @media screen and (max-width: 568px) {
    .card-flipper {
      width: 100%;
    }
    
    .card-content {
      width: 100%;
      height: 14rem; 
    }
    
    .card-face {
      width: 100%; 
      height: 18rem;
      overflow: hidden;
  
    }
    
  }

.card-face .fa-chevron-circle-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1em; 
  color: white;
  transition: color 0.3s;

}

.card-face:hover .fa-chevron-circle-right {
  color: #b5b5b5;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}




.card-face:hover {
  background-color: #242424;
  transition: background-color 0.3s;
}


.card-face-back {

  transform: rotateY(180deg);
  backface-visibility: hidden;

}

.card-content.flipped {
  transform: rotateY(180deg); 
}






/* SKILLS SECTION */

.skill-level {
  margin-top: 20px;
  background-color: #e0e0e0; 
  height: 25px; 
  position: relative;
  width: 100%;
}

.skill-level-bar {
  background-color: #4caf50; 
  height: 100%;
  position: absolute;
}


/* CONTACT SECTION */

#contact {
  text-align: center;
  background-color: #242424;
  height: 100%;
}

.contact-container {
  display: flex;
  gap: 20px; 
  background-color: #242424;
  color: white;
  height: 100%;
  width: 100%;
}

.contact-content {
  display: grid;
  overflow: hidden;

  gap: 10px;



  height: 90vh;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #242424;
  color: white;
  box-shadow: 0 4px 8px rgba(35, 35, 35, 0.1);
  transition: transform 0.2s;
  height: 100%;
  width: 100%;
}



.contact-info {
  display: flex;
  flex-direction: row;
  margin-top: 60px;

  gap: 20px;
  padding: 20px;
}






.contact-form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 2;
  gap: 20px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.2s;
  height: 100%;
  width: 100%;
}




.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 2;
  margin: 0 auto;
  gap: 20px;
  width: 100%;
  background-color: #0202026e;
  border-radius: 10px;
  box-shadow: -1rem 0 2rem #000;
  padding: 20px;
  margin-bottom: 90px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b5b5b5;
  background-color: #242424;
  color: white;
  width: 60%;
}

.contact-form input:focus, .contact-form textarea:focus {
  border: 1px solid #242424;
}


.submit-button {
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #b5b5b5;
  background-color: #242424;
  color: #f1aeb5;
  width: 60%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  color: #f1aeb5;
  border: 1px solid  #0202026e;
  filter: contrast(1.2);
  filter: drop-shadow(0 0 0.75rem #f1aeb5);
}





@media screen and (max-width: 768px) {
  .contact-form input, .contact-form textarea {
    width: 80%;
    padding: 0;

  }

  .contact-form-container {
   width: 100%;
  }
  
}


/* SOCIAL MEDIA ICONS */

.contact-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.contact-links a:hover {
  color: #008dd4;
}

.fa-github, .fa-linkedin, .fa-twitter {
  font-size: 2em;
  transition: color 0.3s;
  color: white;
}


.contact-card-flipper {
  perspective: 1000px;
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.contact-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #dcdcdc;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%; 
  height: 100%; 
}

.contact-card-face {
  position: absolute;
  justify-content: center;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
  background-color: #0202026e;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  overflow: hidden;

}

.contact-card-flipper {
  width: 26rem; 
  height: 24rem;

}

.contact-card-content {
  width: 26rem; 
  height: 24rem;

}

.contact-card-face {
  width: 26rem; 
  height: 24rem;
}

.contact-card-face .fa-chevron-circle-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1em;
  color: white;
  transition: color 0.3s;
}

.contact-card-face:hover .fa-chevron-circle-right {
  color: #b5b5b5;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}



  @media screen and (max-width: 768px) {
    .contact-content {
      gap: 0px;
      grid-template-columns: 1fr;
    }


    .contact-card-extra {
      display: none;
    }

    .contact-card-flipper {
      width: 100%;
      height: 15rem;
    }
    
    .contact-card-content {
      width: 100%;
      
    }
    
    .contact-card-face {
      width: 100%;
      height: 15rem;
    }

  
    .contact-info {
      grid-column: auto;
      grid-row: auto;
      margin-bottom: 30px;
    }
  
    .contact-form-container {
      order: -1; 
    }
  }

  @media screen and (max-width: 568px) {
    .contact-info {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }


    }
  














/* FOOTER SECTION */

.footer {
  position: fixed;
  border: 1px solid #ffffff;
  bottom: 0;
  max-width: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  align-items: center;
  background-color: #b5b5b5;
  color: #ffffff;

}


  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.3em;

    a {
      color: #ffffff;
      text-decoration: none;
      margin: 0 15px;
      
      &:hover, &:focus {
       color: #f1aeb5;
      }
    }


    .footer-social {
      a {
        display: inline-block;
        margin: 0 10px;
        font-size: 0.8em;
        margin: 0 10px;

      }



        
        &:hover, &:focus {
          color:#f1aeb5;

        }
      }

    }


    



    
    
  

